In [6]:
#iterate over a list of numbers and double each number
list = [1, 2, 3, 4]
for i in list:
    doubled = i * 2
    print(doubled)

2
4
6
8

In [8]:
#Alternative
list = [1, 2, 3, 4]
for i in range(len(list)):
    list[i] *= 2
list

[2, 4, 6, 8]

In [11]:
list = [40, 90, 10, 60]
total = 0
count = 0

for i in list:
    total += i
    count += 1
    
average = total / count
print(average)

#The count += 1 statement is used to keep track of the number of elements in the list.
#In this case, count is incremented by 1 in each iteration, effectively counting the number of elements in the list.

50.0

In [12]:
# iterate over a list of numbers and find the maximum and minimum values
numbers = [10, 5, 30, 20, 15]

max_value = numbers[0]  # Assume the first element is the maximum initially
min_value = numbers[0]  # Assume the first element is the minimum initially

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 30
Minimum value: 5

In [1]:
#Iterate over a list of strings and print each string

strings_list = ('apfel', 'birne', 'kiwi', 'dattel', 'zitrone')
for i in strings_list:
    print(i)

apfel
birne
kiwi
dattel
zitrone

In [2]:
#Iterate over a list of mixed data types (strings, numbers, etc.) and print each element
mixed_list = ('apfel', 54, 'birne', 'kiwi', 9092, 'dattel', 'zitrone')
for i in mixed_list:
    print(i)

apfel
54
birne
kiwi
9092
dattel
zitrone

In [4]:
#Iterate over a list of numbers and print the square of each number.
numbers = [4, 8, 10, 14]
squares = []
for i in numbers:
    square = i * i
    squares.append(square)
squares

[16, 64, 100, 196]

In [10]:
#kÃ¼rzer
numbers = [4, 8, 10, 14]
for num in numbers:
    square = num ** 2
    print(square)       #muss hier zwingend eingezogen sein

16
64
100
196

In [13]:
#Iterate over a list of strings and print the length of each string.
strings = ('apfel', 'birne', 'kiwi', 'dattel', 'zitrone')
for i in strings:
    length = len(i)
    print(length)

5
5
4
6
7

In [17]:
#Iterate over a list of strings and count how many strings have a length greater than 5 characters
fruits = ('apfel', 'birnen', 'kiwi', 'datteln', 'zitrone')
count = 0
for i in fruits:
    if len(i) > 5:
        count += 1
print(count)

3

In [18]:
#Iterate over a list of numbers and print only the even numbers.
numbers = [948, 87, 923, 739, 244]
for num in numbers:
    if num % 2 == 0:
        print(num)

948
244

In [23]:
#print intems that start with a or z
fruits = ('apfel', 'birnen', 'kiwi', 'datteln', 'zitrone')
for i in fruits:
    if i.startswith('a') or i.startswith('z'):
        print(i)

apfel
zitrone

In [26]:
#Iterate over a list of lists and print each element of each nested list
nested_list = [[1, 2, 3], [4, 5, 6]]
for i in nested_list:
    for num in i:
        print(num)

1
2
3
4
5
6